.hero-section-image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
figure {
  position: relative;

  &::after {
    content: "";
    width: 80%;
    height: 90%;
    background-color: rgba(81, 56, 238, 0.4);
    position: absolute;
    left: 30%;
    top: -3rem;
    z-index: -1;
  }
}
